
Max number of steps whilst curve fitting :   25
Max step size whilst curve fitting :   1.00000000e-01
Stop criterion for step size :   1.00000000e-10
Stop criterion for Chi square :   1.00000000e-07

>> end of curve fitting settings file
